{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'todo/css/styles.css' %}">
    <title>Título da Página</title>
</head>
<body>

    <div class="menu">
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="task">Criar Tarefa</a></li>
            <li><a href="user-manager">Gerenciar usuários</a></li>
        </ul>
    </div>
    {% block content %} {% endblock %}

</body>
</html>
