{% extends 'base.html' %}

{% block content%}
<div class="content">
    <div class="container">
        <h1>Tarefas:</h1>
        <div class="tasks">
        </div>
    </div>
</div>

<script>
    function reload(){
        fetch('http://localhost:8000/api/tasks').then(response => response.json()).then(data => tasks(data))

        function tasks(data){
            const tasks = document.querySelector('.tasks')
            tasks.innerHTML = ''
            data.forEach(task => {
                const div = document.createElement('div')
                div.classList.add('task')
                div.dataset.taskId = task.id;
                div.innerHTML = `<div class='info'><p>${task.name}</p><p>${task.status ? "Ativo" : "Inativo"}</p></div><p class='description'>${task.description}</p>
                <p class='date'>Data: ${task.date}</p>`
                tasks.appendChild(div)
            })
        }
    }
    function alterarstatus(id) {
            fetch(`http://localhost:8000/api/task/status/${id}`, {
                method: 'PATCH',
            })
            .then(response => {
                if (response.ok) {
                    console.log(`Tarefa com ID ${id} alterada com sucesso.`);
                    reload()
                } else {
                    console.error('Falha ao alterar o tarefa.');
                }
            })
            .catch(error => console.error('Erro ao alterar tarefa:', error));
        }

    const taskClickHandler = function (event) {
        if (event.target.closest('.task')) {
            let taskId = event.target.closest('.task').dataset.taskId;

            alterarstatus(taskId);
            reload()
        }
    };

    document.addEventListener('click', taskClickHandler);
    
    document.addEventListener('DOMContentLoaded', reload);

</script>
{% endblock %}